<form action="" method="post">
    <div class="">
        <label for="username">Name:
            <input type="text" name="username" value="{{ data.name_value | escape }}">
        </label>
        <span>{{ data.name_err }}</span>
    </div>
    <div class="">
        <label for="password">Password
            <input type="password" name="password">
        </label>
        <span>{{ data.pwd_err }}</span>
    </div>
    <div class="">
    	<input type="submit" value="Submit">
    </div>
</form>
